<div class="comment">
  <div class="avatar">
    <%= link_to gravatar_for(comment.user), "#" %>
  </div>
  <div class="text">
    <div class="user-name">
      <h3><%= comment.user.get_name %></h3>
    </div>
    <div class="content">
      <p><%= comment.body %></p>
    </div>
    <% if comment.user == current_user %>
      <p><%= link_to "Xóa bình luận", [comment.post, comment], method: :delete, class: "button" %></p>
    <% end %>
  </div>
</div>
