<% @posts.each do |post| %>
  <%= render 'post', post: post %>
<% end %>
<% if @posts.count >= 10 %>
  <div class="pages-wrapper">
    <span>Trang:</span>
    <%= will_paginate @posts %>
  </div>
<% end %>
